$text-color: rgba(220, 220, 220);
$background-color: rgb(20, 20, 40);
$font-stack: Helvetica, system-ui, sans-serif;

:root {
    font-family: $font-stack;
    color: $text-color;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    margin: 0;
    height: 100vh;
}

#root {
    height: 100%;
}
